<% name = current_user.present? ? current_user.email : 'Stranger' %>

<h1>Welcome, <%= name %> </h1>

<h1>Posts</h1>
<%= link_to 'Create Post', new_post_path %>

<%# Display existing posts %>
<% if @posts.present? %>
  <% @posts.each do |post| %>
    <h3><%= post.title %></h3>
    <p><%= post.body %></p>
    <%  if user_signed_in? %>
      <p>Author: <%= post.user.email %></p>
    <% end %>
  <% end %>
<% else %>
  <p>No posts available.</p>
<% end %>

